body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 1.6;
    font-weight: 600;
    background-color: #fff;
    color: #333;
}

div {
    display: block;
    position: relative;
}

.about {
    width: 100%;
    padding-top: 94px;
    padding-bottom: 90px;
}

.about_row:not(:last-child) {
    margin-bottom: 99px;
}

.about_content {
    top: 50%;
    transform: translateY(-50%);
}

.about_img {
    width: 100%;
}

.about_img img {
    max-width: 100%;
}

.about_title {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
}

.about_text {
    margin-top: 22px;
    color: rgb(53, 53, 53);
}


/* Contacts */

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 50vh;
}

.contact-page {
    width: 100%;
    max-width: 1200px;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin: auto;
}

.contact-info,
.contact-form {
    flex: 1;
}

.contact-info .item {
    margin-bottom: 24px;
    font-size: 16px;
    color: #322;
}

.contact-info .item i {
    display: inline-block;
    line-height: 1;
    margin: 0 9px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.897);
    border-radius: 50%;
    padding: 15px;
    background: #01a2a6;
}

.contact-info .item i:hover {
    color: rgb(255, 255, 255);
    transition: 0.7s;
    background-color: #205d700c;
    color: #01a2a5
}

.contact_info frame {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.textb {
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    background-color: rgb(236, 236, 236);
    margin-bottom: 20px;
    border: none;
}

.contact-page p {
    font-size: 13px;
}

textarea {
    width: 100%;
    min-height: 100px;
    padding: 12px;
    background-color: rgb(236, 236, 236);
    border: none;
    margin-bottom: 20px;
}

.btn {
    width: 120px;
    height: 40px;
    margin-left: auto;
    background-color: #01a2a6;
    border: none;
    color: #fff;
    text-transform: uppercase;
    transition: .3s linear;
    cursor: pointer;
}

.btn:hover {
    background-color: #00595a;
}

.map {
    overflow: hidden;
    padding-bottom: 22%;
    position: relative;
    height: auto;
}

.map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.col {
    flex: 1;
    text-align: center;
    padding: 0 25px;
}

.col i {
    font-size: 50px;
}

.col span {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
}

.num {
    font-size: 40px;
    margin: 20px 0;
    line-height: 30px;
    font-weight: 700;
}


/* Igor */

#igor {
    width: 100%;
    /* 100vh — задает высоту вашему приложению равной высоте области просмотра.  */
    height: 50vh;
    background: url("../img/1/pgu1.jpg");
    background-size: cover;
    position: relative;
}

#igor:before {
    content: "";
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#igor .igor-container {
    /* flex - это сокращенное свойство, определяющее способность гибкого элемента растягиваться или сжиматься для заполнения собой доступного свободного пространства */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
}

#igor h2 {
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.966);
}

#igor h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.952);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 575px) {
    p {
        font-size: 13px;
    }
    h2 {
        font-size: 20px;
    }
    #igor h2 {
        font-size: 25px;
    }
    #igor h3 {
        font-size: 14px;
    }
    .section_title h2 {
        font-size: 20px;
    }
    .section_subtitle {
        font-size: 13px;
        margin-top: 47px;
    }
    .about_row:not(:last-child) {
        margin-bottom: 66px;
    }
    .about_title {
        font-size: 24px;
    }
    .about_text {
        margin-top: 33px;
    }
}